body {
    margin: 0px;
}

header {
    height: 200px;
    border: black solid 1px;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

section {
    display: flex;
    height: 500px;
}
section .div1, .div2, .div3 {
    border: black solid 1px;
    padding: 20px;
}

.div1{
    width: 20%;
}

.div2{
    width: 60%;
}

.div3{
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
}

.row1{
    display: flex;
    height: 50%;
}

.row2 {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer {
    border: black solid 1px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}